<!-- <app-diretiva-ngif></app-diretiva-ngif>
 -->
<!--  <app-diretiva-ngswitch></app-diretiva-ngswitch>
 -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor>
 -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
    <div class="titulo">Este è o TITULO</div>
    <div class="subtitulo">Este è o Subtitulo</div>
    <div class="corpo">Este è o corpo do painel, Lorem ipsum dolor sit amet consectetur adipisicing elit. Id qui totam
        itaque ex maiores cum voluptates explicabo sint aliquid quas, vero perferendis atque! Non omnis iure error vitae
        suscipit unde.</div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>